@use 'src/styles/variables' as v;

ul.searchResults {
  list-style: none;
  width: 100%;
  margin: 8px 0;
  padding: v.$input-spacing calc(v.$input-spacing * 2);
  border-radius: v.$box-radius;
  background-color: white;
  color: black;
  font-size: 1.2rem;

  li[role=button] {
    cursor: pointer;
    @include v.clip-text;
  }

  li:not(:first-child) {
    margin-top: 8px;
  }
}